@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  background-color: #000;
  width: 100%;
}
.content {
  background-color: #000;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 350px;
  font-size: 7rem;
  font-weight: 100;
  color: #63c5da;
}
.btn {
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly;
}
button {
  outline: 0;
  border: 0;
  margin: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid;
  letter-spacing: 1px;
}
button:nth-child(1) {
  background-color: rgba(13, 198, 13, 0.157);
  color: rgb(135, 242, 28);
}
button:nth-child(2) {
  background-color: rgba(255, 4, 4, 0.244);
  color: rgb(255, 0, 0);
}
button:nth-child(3) {
  background-color: rgba(128, 128, 128, 0.154);
  color: rgb(175, 175, 175);
}
