@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  background-color: #000;
  width: 100%;
}
.content {
  background-color: #000;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 350px;
  font-size: 6rem;
  font-weight: 100;
  color: #63c5da;
}
@media screen and (max-width: 768px) {
  body{
    height: 70vh;
  }
  .content {
    font-size: 3rem;
  }
}
